@import url('https://fonts.googleapis.com/css?family=Sofia');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: rgb(232, 255, 241);
}
span{
  color: rgb(255, 196, 0);
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%; 
  background-color: transparent;
  z-index: 1000;  
}
.opaque{
  background-color: rgb(232, 255, 241);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
label.logo{
    color: rgb(255, 255, 255) ;
    font-size: 34px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-transform: uppercase;
    padding:8px 14px;
    border-radius: 3px;
    font-weight: 600;
}
a:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.421);
    color: white;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display:none;
}
#check{
    display: none;
}

/*home*/
header{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/2lonelyy.jpg');
  background-position: center;
  background-size:cover;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* align-items: flex-end; */
}
.header-container{
  margin-bottom: 200px;
  color: black;
  text-align: justify;
  margin-left: 10%;
  margin-top: 13%;
  background-color: rgba(0, 0, 0, 0.629);
  padding: 30px;
  border-radius: 20px;
}
.header-container h1{
  font-size: 5vmin;
  color: rgb(33, 255, 255);
}
.header-container p{
  font-size: 4vmin;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  max-width: 600px;
}
.header-container .btn{
  padding: 8px 15px;
  background-color: rgb(251, 255, 4);
  border-radius: 20px;
  color: rgb(0, 0, 0);
}
a{
  text-decoration: none;
  font-size: 25px;
  
}
/* header-img */
/* .header-img{
  width: 100px;
  height: 100px;
  background-image: url('./images/pachpokhari.jpg');

} */
/*body res*/
@media only screen and (max-width: 768px) {
 header{
    width: 100%;
  }
  .header-container{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .heading-container .btn {
    width: 50px; 
    font-size: 8px; 
    padding: 2px 6px; 
  }
  } 
  @media only screen and (max-width: 643px) {
    header{
      width: 100%;
    }
    .header-container{
      width: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .heading-container .btn {
      width: 20px; 
      font-size: 6px; 
      padding: 2px 4px; 
    }
  }



/*padding top*/
.aboutus, .destination, .gallery, .contact{
  padding-top: 80px;
}

/*about us */
.about-us{
  background-color: rgb(135, 202, 160)
}

.aboutus .title {
  /* text-align: center; */
  font-size: 4vmin;
  margin-bottom: 50px;
  color: black;
}
.aboutus-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-col{
  flex: 0 0 calc(65% - 20px);
  margin-right: 20px;
}
.aboutimg-col{
  flex: 0 0 calc(35% - 20px); /* Make the image column take up 35% width with some space between */
  margin-left: 20px;
}

/* .content-col h1{
  font-size: 7vmin;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 10px;
} */
.content-col h2{
  font-size: 6vmin;
  color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  padding-left: 30px;
}
.content-col p{
  color: rgb(0, 0, 0);
  font-size: 3vmin;
  text-align: justify;
  padding: 10px;
  padding-left: 30px;
  
}
.aboutus .aboutimg{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutimg img{
  max-width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  
}
.aboutus-col{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*destination*/
section{
  width: 90%;
  margin: 80px auto;
}
.destination .title {
  /* text-align: center; */
  font-size: 4vmin;
  color: black;
}
.row{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /* width: 100%;
  justify-content: space-between; */

}
.row .col{
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destination .row{
  margin-top: 50px;
}
.destination h4{
  font-size: 3vmin;
  color: rgb(0, 0, 0);
  margin: 20px auto;
}
.destination p{
  color: black;
  padding: 0px 40px;
  font-size: 3vmin;
  text-align: justify;
}
.destination .btn{
  margin-top: 30px;
  padding: 8px 15px;
  background-color: black;
  border-radius: 20px;
  color: white;
}
.destination .col img{
    float: left;
    width:  100%;
    height: 100%;
    object-fit: cover;
  

}


/*gallery section*/

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px ;
}
.gallery .title h1{
  /* text-align: center; */
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 30px;
  color: black;
}
.gallery .photo-gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery .photo-gallery .images{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.gallery .photo-gallery .images img{
  width: 100%;
  padding-bottom: 20px;
  border-radius: 15px;
}
/* .gallery-btn .btn{
  padding: 8px 15px;
  background-color: black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}  */



/*gallery res*/
@media only screen and (max-width: 768px) {
.gallery .photo-gallery{
  flex-direction: column;
}
.gallery .photo-gallery .images{
  width: 100%;
}
} 
@media only screen and (max-width: 643px) {
  .gallery .title{
    width: 100%;
  }
.gallery .title h1{
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  color: black;
}
}


/* 

.heading-col{
  width: 40%;
}
.image-col{
  width: 60%;
}
.gallery .photo-gallery{
  display: flex;
  flex-wrap: wrap;
  width: space-between;
}
.photo-gallery img{
  max-width: 250px;
  margin: 10px;
  border-radius: 15px;
}
.heading-col h1{
  font-size: 7vmin;
  color: black;
}

.heading-col p{
  color: black;
  font-size: 3vmin;
  text-align: justify;
  
}
.heading-col .btn{
  padding: 8px 15px;
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 167px;
}

.gallery-row{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.gallery-col{
  display: flex;
  flex-direction: column;
  gap: 30px; 
}
@media (max-width: 768px) {
  .photo-gallery img {
    width: calc(50% - 20px); 
  }
  .heading-col .btn {
    width: 120px; 
    font-size: 14px; 
    padding: 6px 12px; 
  }
}

@media (max-width: 480px) {
  .photo-gallery img {
    width: calc(100% - 20px); 
  }
  .heading-col .btn {
    width: 100px; 
    font-size: 12px; 
    padding: 4px 8px; 
  }
} */


/* Contact section styles */
.contact {
 /* Adjust padding as needed */
  text-align: center;
}

.contact h2 {
  font-size: 6vmin;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 30px;
  font-size: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 3vmin;
  font-weight: bold;
  margin-bottom: 5px;
  float: left;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  float: left ;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: rgb(191, 231, 206);
  color: #000000;
  box-shadow: 4px 0px 4px rgba(0.1, 0, 0, 0.1);
  padding: 20px 0;
  text-align: center;
}



/*nav*/
@media (max-width: 1160px) {
  label.logo{
      font-size: 22px;
      padding: 0 10px;
  }
  nav ul li a{
      font-size: 16px;

  }
}
@media (max-width: 857px) {
  .checkbtn{
      display:block;
  }
  ul{
      position: fixed;
      width: 100%;
      height:100vh;
      background-color: whitesmoke ;
      top:80px;
      left:-100%;
      text-align: center;
      transition: all .5s;
      z-index: 999;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 16px;
  }
  a:hover{
      background:none;
      color: #0072e6;
  }
  #check:checked ~ ul{
      left:0;
  }
}  